.navbar {
    display: flex;
    align-items: center;
    padding: 1px;
    background: #ffffff;
    color: #1E1E1E ;
    font-family: Helvetica;
    font-weight: 300;
   
}
.navbar__image{
    width: 30%;
}
.navbar__title {
    margin-right: auto;
    font-size: 150%;
    padding: 12px 16px; 
    margin-left: 2px;
 
}

.navbar__item {
    padding: 16px 14px;
    cursor: pointer;
    vertical-align: middle;
}
.navbar__button{
    padding: 6px 15px 6px;
    cursor: pointer;
    font-size: 104%;
    background-color: #FF5757;
    color: #ffffff ;
    font-family: Helvetica;
    font-weight: 300;
    height: auto;
}
.navbar__button :hover{
    color: inherit;
    background-color: inherit;
}
:where(.css-dev-only-do-not-override-ixblex) .ant-btn-link:not(:disabled):hover {
    color: #ffffff ;
    background-color: #FF5757 ;
}