@import url("./components/headers/Header.css");
@import url("./components/mainPages/selectType/SelectType.css");
@import url("./components/mainPages/contractorForm/ContractorForm.css");

html,
body {
  scroll-behavior: smooth;
  transition: background-color 0.5s ease;
  ;
}
.custom-bodycolor{
  background-color: #f1f1f1 !important;
}

.swal2-containers.swal2-top-end>.swal2-popup {
  grid-column: 3;
  align-self: start;
  justify-self: center !important;
}
.ant-select-selector{
  border-radius: 0 !important;
}
.ant-input, .ant-picker  {
  border-radius: 0 !important;
  padding-top: 6px !important;
  padding-bottom : 6px !important
}
.ant-input[type= 'file']  {
 
  padding-top: 3.5px !important;
  padding-bottom : 3.5px !important
}
.ant-form-item-control-input {
  border-radius: 0 !important;
  
}
.ant-input-affix-wrapper {
  padding-top: 6px;
  padding-bottom : 6px;
  border-radius: 0px !important;
}
:where(.css-dev-only-do-not-override-ixblex).ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
  width: 100%;
  height: 35px;
  padding: 1px 11px;
}
/* Global CSS */

/* .btn-primary {
  background-color: #FF5757;
  border-radius: 50px;
  border: none;
}
.btn-primary :hover{
  background-color: none !important;
  border: 3px solid white !important;
}
.btn :hover{
  background-color: none !important;
  border: 3px solid white !important;
} */
.hero-abt-quote {
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;


}






/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.intialValue::before {
  position: relative;
  display: inline-block;
  margin-inline-end: 4px;
  color: #ff4d4f;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";

}

.ql-containers {
  height: auto !important;
}

.text-color {
  color: #FF5757;
}


@media (min-width: 768px) {
  .footer {
    margin-left: 0px !important;
  }
}

.ant-space-item {
  min-width: 90% !important;
}

.about_head_content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.background-image {
  background-size: cover;
  /* filter: brightness(30%); */
  background-position: center center;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.background-image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: -1;
}

.background-image h1,
.background-image p {
  position: relative;
  color: #fff;
  z-index: 1;
}

.background-image h1 {
  color: #FF5757;
}










/* About us page CSS */


.hero-section {
  background-size: cover;
  min-height: 500px;
  background-repeat: no-repeat;
  background-position: center center;


}


.hero-abt-sourcify {
  color: #FF5757;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
  letter-spacing: 0em;
}

.hero-abt-title {

font-size: 42px;
font-weight: 600;
line-height: 51px;
letter-spacing: 0em;
text-align: center;

}

.founder_about_image {
  min-height: 500px;
}

.what_we_do_quote {

  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;


}

.what_We_do_title {
  /* font-size: 2.5rem; */
  font-size: 32px;
  font-weight: 600;
  line-height: 39px;
  letter-spacing: 0em;
  text-align: left;

}


/* Footer */

.footer {
  min-height: 350px;
  padding-top: 5rem;
  border-bottom: 4px solid #FF5757;
}

.footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer li {
  margin: 10px 0px;
}