
@import url("./components/headers/Header.css");
@import url("./components/mainPages/selectType/SelectType.css");
@import url("./components/mainPages/contractorForm/ContractorForm.css");
.swal2-container.swal2-top-end>.swal2-popup {
    grid-column: 3;
    align-self: start;
    justify-self: center !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.intialValue{
    position: relative;
    display: inline-block;
    margin-inline-end: 4px;
    color: #ff4d4f;
    font-size: 14px;
    font-family: SimSun,sans-serif;
    line-height: 1;

   
}